body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  color: #40514e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 60px; /* Add padding to push down the content */
}

h2 {
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  color: #66bfbf;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

p {
  line-height: 2;
}

div {
  margin: 0;
}

a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

hr {
  border: dotted #11999e71 6px;
  border-bottom: none;
  width: 10%;
  margin: 40px auto;
}

footer {
  padding: 10px 0;
  background-color: #66bfbf;
  display: flex;
  min-height: 60px;
  height: 60px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}


/* Tooltipped element css */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: #ff7f7f;
  font-size: 1.8rem;
}

/* Tooltip container positioning css */
.tooltip .tooltiptext {
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 100%;
  transform: translate(0, -50%); /* Center the tooltip vertically */
  margin-left: 15px;
  opacity: 0;
  color: #eaf6f6;
  border-radius: 10px;
  transition: opacity 0.3s; /* Tooltip animation with CSS */
  background-color: #555;
  font-size: 0.9rem;
  padding: 5px 10px; /* Add some padding for better spacing */

  display: flex; /* Use flexbox to center the text */
  align-items: center; /* Vertically center the text */
  justify-content: center; /* Center the text horizontally */

  white-space: nowrap; /* Prevent the text from wrapping to a new line */
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%; /* Vertically center the arrow */
  left: -10px; /* Position the arrow on the right side, slightly outside the tooltip box */
  transform: translateY(-50%); /* Adjust position to be perfectly centered */
  border-width: 5px;
  border-style: solid;
  border-color: transparent #555 transparent transparent; /* Adjust colors to match the tooltip box */
}


/* Tooltip triggering with css */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


.profile-name {
  text-align: center;
  font-family: "Merriweather", serif;
  color: #4fbebe;
}

.cv-name {
  text-align: center;
  font-family: "Merriweather", serif;
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;
}

.cv-subname {
  text-align: center;
  font-family: "Merriweather", serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}


.profile-name h1 {
  font-size: 4rem;
  margin: 20px 0 0 50px;
  font-family: "Montserrat", sans-serif;
  color: #4fbebe;
  float: left;
  display: inline;
}

.profile-name a {
  color: #edaf1d;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
  display: inline block;
  height: 50px;
  padding: 10px; 
  background-color: transparent; /*default value, used here to illustrate*/
}

.profile-name,
.profile-name .tooltip {
  display: inline;
}

.tooltip {
  display: inline-block;
}

.profile-pic-container {
  margin-top: 30px; /* Add some space between the header and the image */
  text-align: center; /* Center the image */
}

.profile-pic {
  display: block; /* Ensures the image is on its own line */
  margin: 0 auto; /* Center the image horizontally */
}




.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 30px 0;
  padding-top: 20px; /* Adjust this padding if needed */
}

.about-me-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  flex-wrap: wrap;
}

.about-me-text {
  margin: 20px;
  width: 100%;
  text-align: center;
  max-width: 1000px;
}

.about-me-text p {
  color: #40514e;
  font-size: 1rem;
  text-align: justify;
  margin: 20px;
  width: 80%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.about-me-text a {
  color: #11999e;
  font-family: "Merriweather", sans-serif;
  margin: 0;
  text-decoration: none;

}

.intro {
  width: 40%;
  margin: auto;
}

.pro {
  text-decoration: underline;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.skill-row {
  width: 50%;
  margin: 30px auto;
  text-align: left;
}

.skill-row img {
  max-width: 120px;
  max-height: 120px;
  border-radius: 10px;
}

.skill-row h3 {
  margin: 10px;
}

.skill-row p {
  margin: 0;
}

.profile-pic {
  width: 150px;
}

.cv-pic {
  width: 170px;
  height: 170px;
  transition: all ease 0.3s;
  border-radius: 100%; /* Makes it circular */
  border: 1px solid #ffffff;
}

.cv-pic:hover {
  transform: scale(1.06, 1.06);
  transition: all ease 0.3s;
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.contact-me {
  text-align: center;
  margin-bottom: 100px;
}

.footer-link {
  color: #11999e;
  text-align: center;
}

.running-img {
  width: 15%;
  float: right;
  margin-left: 30px;
}

.copyright-text {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 10px;
  position: relative;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.footer-link:hover {
  color: #eaf6f6;
  transition: all ease 0.2s;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  text-align: center;
  position: fixed; /* Make the navbar stay at the top */
  top: 0;          /* Position it at the top of the page */
  width: 100%;     /* Make it span the full width */
  z-index: 1000;   /* Ensure it stays above other content */
}

/* Style the links inside the navigation bar */
.topnav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: all ease 0.3s;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #30e3cb;
  transition: all ease 0.3s;
}

.topnav a.active {
  font-weight: 700;
}


.blog-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blog-heading span {
  color: #66bfbf;
}

.blog-heading h3 {
  font-size: 2.4rem;
  color: #2b2b2b;
  font-weight: 600;
}

.blog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  flex-wrap: wrap;
}

.blog-box {
  width: 350px;
  background-color: #ffffff;
  border: solid #ececec;
  border-width: 1px;
  margin: 20px;
  float: left;
  border-radius: 25px;
}

.blog-img {
  width: 100%;
  height: auto;
}

.blog-img img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  object-position: center;
  border-radius: 25px 25px 0 0;
}

.blog-text {
  padding: 30px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.blog-text span {
  color: #66bfbf;
  font-size: 0.9rem;
}

.blog-text .blog-title {
  font-size: 1.3rem;
  font-weight: 500;
  color: #272727;
  font-family: "Montserrat", sans-serif;
  transition: all ease 0.3s;
}

.blog-text .blog-title:hover {
  color: #11999e;
  font-size: 1.5rem;
  transition: all ease 0.1s;
}

.blog-text p {
  color: #9b9b9b;
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 20px 0px;
}

.blog-text a {
  color: #0f0f0f;
}

.blog-text a:hover {
  color: #11999e;
  transition: all ease 0.3s;
}

#blog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

@media (max-width: 1250px) {
  .blog-box {
    width: 300px;
  }
}
@media (max_width: 1100px) {
  .blog-box {
    width: 70%;
  }
}
@media (max_width: 550px) {
  .blog-box {
    margin: 20px 10px;
    width: 100%;
  }
  #blog {
    padding: 20px;
  }
}


.book-container {
  display: block;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
  text-align: center;
  max-width: 1000px;
}

.book-box {
  display: block;
  margin: 20px 20px 40px 20px;
  width: 100%;
  text-align: center;
  max-width: 1000px;
}

.book-box a {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Merriweather", serif;
  color: #40514e;
  transition: all ease 0.3s;
  margin: 5px 0 0 0;
}

.book-box a:hover {
  color: #11999e;
  transition: all ease 0.3s;
}

.book-box h5 {
  margin: 8px;
}

.book-box p {
  color: #40514e;
  font-size: 1rem;
  text-align: justify;
  margin: 20px;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.book-box hr{
  border: dotted #9b9b9b 6px;
  border-bottom: none;
  width: 10%;
  margin: 0 auto 5px;
}

.book-section-title {
  font-size: 2rem;
  font-weight: 600;
  color: #272727;
  font-family: "Montserrat", sans-serif;
  margin: 0 20px 20px 20px;
}

.cv-container {
  width: 80%;
  height: 80vh;
  max-width: 1200px;
  margin: 20px auto; /* Add this line to center horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
}

.cv-container object {
  width: 100%;
  height: 100%;
  margin: 20px;
}


.under-construction {
  color: #ffd914;
  font-size: 16px;
}

.bimr-title {
  width: 50%;
  max-width: 700px;
  margin: 20px auto;
}

.bimr-text-container {
  display: block;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
  text-indent: 50px;
  text-align: center;
}

.bimr-text-container p {
  color: #3a4846;
  font-size: 1rem;
  text-align: justify;
  margin: 10px 20px;
  width: 100%;
  max-width: 1000px;
}

.bimr-text-container h3 {
  margin: 20px;
  width: 100%;
}

.MathJax {
  font-size: 1em;
}

#text4 {
  position: absolute;
  right: 15.00vw;
}

.video-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.background-video {
  position: relative;
  width: 100%;
  max-width: 1500px;
  object-fit: cover;
  z-index: -1;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center other elements */
  width: 100%;
  text-align: center;
  color: #eaf6f6;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2); /* Adjust opacity */
  z-index: -1;
}

.cv-section-title {
  font-size: 2rem;
  font-weight: 600;
  color: #272727;
  font-family: "Montserrat", sans-serif;
  margin: 40px 20px 0 20px;
}

.img-credit {
  position: absolute;
  bottom: 10px; /* Distance from the bottom */
  right: 15px;  /* Distance from the right */
  font-size: 9px;
  color: #e6e6e6;
  padding: 0 10px 0 0;
  margin: 0;
  border-radius: 5px;
  z-index: 3; /* Ensure it's above other elements */
  white-space: nowrap;
}

.img-credit a {
  font-family: "Merriweather", serif;
  color: #e6e6e6;
  margin: 0;
  padding: 0;
}

.download-button {
  position: absolute;
  bottom: 20px; /* Distance from the bottom */
  /* marginleft: 50%;
  transform: translateX(-50%); */
  padding: 10px 20px;
  background-color: #333; /* Button color */
  color: #ffffff;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.download-button:hover {
  background-color: #11999e;
  transform: scale(1.05), translate(-50%)
}



.expandable-container {
  max-width: 1200px;
  width: 100%;
  margin: 20px auto;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #ffffff; /* MIT blue */
  color: #ffffff;
}

.date-logo {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center align the content */
  text-align: center; /* Ensure text is centered */
}

.date {
  font-size: 16px;
  margin-right: 20px;
  font-weight: bold;
  color: #272727;
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
}

.institution-logo {
  max-width: 300px; /* Ensures it never exceeds 300px */
  width: 100%; /* Allows responsiveness */
  height: auto; /* Maintains original aspect ratio */
  display: block; /* Prevents inline spacing issues */
  object-fit: contain;
  border-radius: 5px;
  max-width: 300px;
  margin-bottom: 5px;
  padding: 1px;
}

.institution-logo img {
  width: 100%;
  height: 100px;
  vertical-align: middle;
  border-style: none;
}

.title h2 {
  font-size: 22px;
  margin: 0 0 0 30px;
  padding: 0;
  display: block;
  font-family: "Montserrat", sans-serif;
  color: #0f0f0f;
  text-align: left;
  margin-bottom: 5px;
}

.institution {
  font-size: 16px;
  text-transform: uppercase;
  color: #40514e;
  margin: 5px 0 0 30px;
  text-align: left;
}

.location {
  text-transform: none;
}

.toggle-button {
  background-color: #66bfbf; /* Slightly darker blue */
  border: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.6s ease-in-out, background-color 0.3s ease-in-out; /* Smooth animation */
  margin-left: auto;
  margin-bottom: auto;
}

.toggle-button:hover {
  background-color: #11999e;
}

.toggle-button.expanded {
  transform: rotate(180deg); /* Rotates the "+" into a "-" */
}

.description {
  height: 0; /* Start fully collapsed */
  overflow: hidden; /* Hide content when collapsed */
  padding: 0 20px; /* Maintain horizontal padding */
  background-color: #ffffff;
  color: #333;
  text-align: justify;
  line-height: 1em;
  transition: height 0.6s ease-in-out, padding 0.6s ease-in-out; /* Slower and smoother transition */
}

.description p {
  margin: 0;
}

.description a {
  font-family: "Merriweather", serif;
}

.description.expanded {
  padding: 0 20px 10px;
  margin: 0;
}

.short-desc {
  color: #333;
  margin: 10px 0 0 30px;
  padding: 0;
  text-align: left;
  line-height: 1.5em;
}


.additional-info {
  color: #333;
  margin: 10px 0 0 30px;
  padding: 0;
  overflow: hidden;
}

.ects {
  color: #333;
  margin: 0;
  padding: 0;
  float:left; /* add this */
  line-height: 1.5em;
}

.gpa {
  color: #333;
  margin: 0;
  padding: 0;
  float: right;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.full-desc {
  margin-top: 0;
  line-height: 1.6em;
}

.full-desc p {
  margin-top: 0;
  line-height: 1.6em;
}

.full-desc a {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
}

.full-desc b {
  font-family: 'Montserrat', sans-serif;
}

.awards {
  margin: 10px 0 0 5px;
  line-height: 2em;
  text-align: left;
}


.awards ul {
  margin: 0 10px 10px 0;
}


.awards li {
  margin: 10px 0 0 0;
}


.progress-bars {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 20px 0;
}

.progress-container {
  margin: 0 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.progress-fill {
  height: 100%;
  background-color: #66bfbf;
  border-radius: 5px;
  width: 0; /* Start with 0 width */
  transition: width 2s ease-in-out; /* Smooth loading animation */
}

.progress-container p {
  margin: 0 0 5px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: #333;
}





.language-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 20px 0 0 0;
}

.circular-progress {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle-svg {
  width: 120px;
  height: 120px;
  /* transform: rotate(-90deg); */
}

.circle-bg {
  fill: none;
  stroke: #e6e6e6;
  stroke-width: 8;
}

.circle-fill {
  fill: none;
  stroke: #66bfbf;
  stroke-width: 8;
  stroke-dasharray: 283; /* Circumference of the circle (2Ï€r) for r = 40 */
  stroke-dashoffset: 283; /* Initially hide the fill */
  transition: stroke-dashoffset 2s ease-in-out; /* Smooth animation */
  border-radius: 5px;
}

.language-label {
  font-size: 18px;
  color: #40514e;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
}

.circle-text {
  font-size: 14px; /* Adjust size */
  font-family: "Montserrat", sans-serif;
  fill: #40514e; /* Text color */
  font-weight: bold;
  text-anchor: middle; /* Horizontally center */
  /* alignment-baseline: middle; Vertically center */
  dominant-baseline: central; /* Extra alignment for vertical centering */
}


#awards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.award-container { 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  flex-wrap: wrap;
}

.award-box {
  width: 350px;
  background-color: #ffffff;
  border: 1px solid #ececec;
  margin: 20px;
  float: left;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

/* Image container */
.award-img {
  height: 170px;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;  /* horizontal centering */
  align-items: center;      /* vertical centering */
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  box-sizing: border-box;
}

/* Image inside the container */
.award-img img {
  width: 90%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
  display: block;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: #ececec;
}

.award-text {
  padding: 20px 30px 30px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  word-break: normal;
  hyphens: auto;
  -webkit-hyphens:auto;
  -moz-hyphens:auto;
}

.award-text .award-title {
  font-size: 22px;
  margin: 0 0 10px;
  padding: 0;
  display: block;
  font-family: "Montserrat", sans-serif;
  color: #0f0f0f;
  text-align: left;
  margin-bottom: 5px;
}

.award-text p {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px 0px;
  line-height: 1.6em;
}

.award-text a {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
}

.award-text b{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
  margin: 5px auto 0;
}
